/* On souhaite que toutes les images s'adaptent à la taille de leur conteneur,
peu importe leur placement ou leur sens, on peut donc se permettre
d'écrire une règle dans un sélecteur img */
img {
    width: 100%;
}

#gallery {
    display: flex;
}

.hoverable {
    position: relative;
    width: 15rem;
}

.hoverable .overlay {
    background-color: #4C8DAF;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hoverable .overlay.overlay-fade {
    opacity: 0;
    transition: opacity .3s ease;
}

.hoverable:hover .overlay.overlay-fade {
    opacity: 1;
}

.hoverable .overlay.overlay-slide-down {
    bottom: 100%;
    transition: bottom .3s ease;
}

.hoverable:hover .overlay.overlay-slide-down {
    bottom: 0;
}

.hoverable .overlay.overlay-slide-left {
    right: 100%;
    transition: right .3s ease;
}

.hoverable:hover .overlay.overlay-slide-left {
    right: 0;
}
